<div class="container project-container ">
  <h1>
    Project: <%= @project.name %>
  </h1>

  <div class="form-container">
    <%= form_with model: @project, local: true do |form| %>
      <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, options_for_select(Project::STATUSES, @project.status) %>
      </div>
      <%= form.submit 'Change Status', class: "button" %>
    <% end %>
  </div>

  <h2>Comments</h2>

  <div class="form-container">
    <%= form_with url: leave_comment_project_path(@project), method: :post, local: true do |form| %>
      <div class="form-group">
        <%= form.text_area :content, placeholder: 'Leave a comment...' %>
      </div>
      <%= form.submit 'Add Comment', class: "button" %>
    <% end %>
  </div>

  <h4>Previous Comments:</h4>
  <div class="comments">
    <% @project.conversation_histories.each do |history| %>
      <p class="comment"><strong><%= history.created_at.strftime("%d %b %Y, %I:%M %p") %>:</strong> <%= history.content %></p>
    <% end %>
  </div>
</div>
